md-toolbar
  .md-toolbar-tools
    a(href='/') Angular/LiveScript
    a(href='http://livescript.net', target='_blank')
      img(src='http://livescript.net/images/icon.png')
    span(flex)
    a(ng-href='/', ng-class="{active:activeTab == ''}") Home
    a(ng-href="/about", ng-class="{active:activeTab == 'about'}") 關於
    a(href="http://github.com/clkao/angular-livescript-seed") {{ config_build }}
