material-toolbar.material-theme-light(scroll-shrink)
  .material-toolbar-tools
    h2
      a.left.floated.item.header.brand(href='/') Lowtoned
    h3.right.floated.menu
      a.item.about(ng-href="/about", ng-class="{active:activeTab == 'about'}") 關於
